BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://yourdomain.com
PORT=3000

DATABASE_URL=postgresql://studiocms:PASSWORD@<postgres_container_name>:5432/studiocms_prod

RESEND_API_KEY=
EMAIL_FROM="Studio CMS <noreply@yourdomain.com>"

UPLOAD_DIR=/app/uploads
STORAGE_DRIVER=local

NEXT_PUBLIC_GLITCHTIP_DSN=https://xxxx@your-glitchtip-domain.com/1
GLITCHTIP_DSN=https://xxxx@your-glitchtip-domain.com/1

NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://your-umami-domain.com/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx